.Article-img {
  height: calc(100vh - 64px);
  width: 100%;
  background-position: center;
  background-size: cover;
  position: relative;
}

.black-box {
  width: 100%;
  height: 25%;
  background: #000;
  transform-origin: right;
}

.Article-body {
    display: flex;
    justify-content: space-around;
    margin: 60px 0;
}

.Article-title {
  font-size: 1.4rem;
  font-weight: 700;
  letter-spacing: 5px;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.containInfo{
    width: 50%;
}

.containImg{
    width: 40%;
    background-repeat: no-repeat;
}

.pArticle{
    padding: 10px 0;
}

.pArticleLeft{
    padding-top: 30px;
    text-align: left;
    line-height: 24px;
}

.pArticleAwards{
    font-style: italic;
}

.span{
    text-transform: capitalize;
}
