.Article-img {
    width: 550px;
    height: 550px;
    display: block;
    margin: auto;
    background-size: cover;
    margin-top: 50px;
}

.black-box {
  width: 100%;
  height: 25%;
  background: #000;
  transform-origin: right;
}

.Article-body {
  margin-top: 30px;
}

.Article-title {
  font-size: 1.4rem;
  font-weight: 400;
  text-transform: upeprcase;
  margin-bottom: 30px;
}
