.Home {
  margin-top: 40px;
}

.Home-title {
  font-size: 1.5em;
}

.Home-intro {
  font-size: large;
}

label {
  display: flex;
  justify-content: center;
}

input {
  width: 20%;
  border: none;
  outline: none;
  font-size: 18px;
  text-align: center;
  color: #404040;
}


.todo-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}


.Card {
  color: black;
  margin-top: 20px;
  text-align: left;
  width: 300px;
}

.Card-media {
  height: 500px;
  width: 100%;
  background-position: center;
  background-size: cover;
}


.Card-link {
  text-decoration: none;
  display: block;
}


.fade-enter {
  opacity: 0.01;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 1000ms ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit.fade-exit-active {
  opacity: 0.01;
  transition: opacity 800ms ease-in;
}
