.Home {
  margin-top: 40px;
}

.Home-title {
  font-size: 1.5em;
}

.Home-intro {
  font-size: large;
}

@keyframes Home-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.todo-list{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: flex-start;
}
.Card {
}

.Card-media {
  padding-top: 100%;
  width: 100%;
  background-position: center;
  background-size: cover;
  height: 100%;
}

.Card-link {
  text-decoration: none;
  display: block;
  height: 300px;
}

.Card {
  text-align: left;
  margin-bottom: 25px;
  width: 250px;
  margin-right: 5px;
  margin-left: 5px;

}
.fade-enter {
  opacity: 0.01;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 1000ms ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit.fade-exit-active {
  opacity: 0.01;
  transition: opacity 800ms ease-in;
}
