.advanced-search {
  width: 200px;
  height: 20px;
  padding-left: 5px;
  background: none;
  color: #000;
  border: none;
  border-bottom: 1px solid gray;
  margin-top: 20px;
  margin-bottom: 50px;
}

/* textFieldRoot: {
    padding: 0,
    'label + &': {
      marginTop: theme.spacing.unit * 3,
    }
  }
  textFieldInput: {
    borderRadius: 4,
    backgroundColor: theme.palette.common.white,
    border: '1px solid #ced4da',
    fontSize: 16,
    padding: '10px 12px',
    width: 'calc(100% - 24px)',
    transition: theme.transitions.create(['border-color', 'box-shadow']),
    '&:focus': {
      borderColor: '#80bdff',
      boxShadow: '0 0 0 0.2rem rgba(0,123,255,.25)',
    }
  }
  textFieldFormLabel: {
    fontSize: 18,
  } */
