.Article-img {
  margin: 20px auto;
  height: 500px;
  width: 20%;
  background-position: center;
  background-size: cover;
  position: relative;
}

.black-box {
  width: 100%;
  height: 25%;
  background: #000;
  transform-origin: right;
}

.Article-body {
  margin-top: 30px;
}

.Article-title {
  font-size: 1.4rem;
  font-weight: 400;
  text-transform: upeprcase;
  margin-bottom: 30px;
}
.Article-Desc {
  width: 70%;
  margin: 0 auto;
}
.Article-Year {
  width: 70%;
  margin: 0 auto;
}
